body {
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
}
.navbar {
    background-color: white;
}
.active {
    color: #bb2d3b !important;
    text-decoration: underline;
}
.brand {
    font-family: "Satisfy", cursive;
    font-size: larger;
    text-decoration: none;
    color: black;
}
.brand:hover {
    color: black;
}
.navbar .nav-item {
    padding-left: 16px;
}
.jumbotron {
    font-family: "Open Sans", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron .header {
    font-weight: bold;
    margin-bottom: 16px;
}
.menu-section {
    margin-top: 80px;
}
.content-header {
    font-weight: 700;
    margin-bottom: 16px;
}
.featured-card {
    font-family: "Roboto", sans-serif;
}
.featured-card .programs-card {
    background-repeat: no-repeat;
    background-size: cover;
    height: 148px;
    position: relative;
}
.layer {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer {
    font-family: "Roboto", sans-serif;
    background-color: white;
}
.footer h6 {
    font-weight: bold;
    font-size: large;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer ul li a {
    color: rgb(82, 82, 82);
    font-size: 15px;
    text-decoration: none;
}
.footer ul li a:hover {
    color: rgb(17, 17, 17);
}

/* Program Page */
.category-card {
    font-family: "Roboto", sans-serif;
}
.category-card a {
    text-decoration: none;
    color: rgb(88, 88, 88);
}
.category-card a:hover {
    color: black;
}

.img1 {
    margin-top: 40px;
}

.values {
    font-size: 40px;
}

.img2 {
    margin-top: 64px;
    width: 70%;
}

@media (min-width: 768px) {
    .img2 {
        width: 18%;
    }
}
